<div class="row-centered">
<div class="contact-text col-md-4 col-centered">
<div class="contact-email"><a href="/abouts/1/edit">Edit About</a></div>
<div class="contact-email"><a href="/contacts/1/edit">Edit Contact</a></div>
<div class="contact-email"><a href="/users/new">New User</a></div>
</div>
</div>