<div class="row-centered">
<div class="col-md-4 col-centered">
<div class="adminlink"><a href="/abouts/1/edit">Edit About</a></div>
<br/>
<div class="adminlink"><a href="/contacts/1/edit">Edit Contact</a></div>
<br/>
<div class="adminlink"><a href="/users/new">New User</a></div>
<br/>
</div>
</div>