
<div class="adminlink"><a href="/abouts/1/edit">Edit About</a></div>
<br/>
<div class="adminlink"><a href="/contacts/1/edit">Edit Contact</a></div>
<br/>
<div class="adminlink"><a href="/users/">Users</a></div>
<br/>
<div class="adminlink"><a href="/users/new">New User</a></div>
<br/>
<div class="adminlink"><a href="/categories">Categories</a></div>
<div class="adminlink"><a href="/categories/new">New Category</a></div>
