<!--START THE WRAPPER-->
<div class='curtain_wrapper'>

	<!-- 2 CURTAIN IMAGES START HERE  -->
	<img id='curtainTop' class='curtain curtainTop' src='/assets/Marco_Bottom2.png' />
	<img id='curtainMiddle' class='curtain curtainMiddle' src='/assets/Marco_Middle.png' />
	<img id='curtainBottom' class='curtain curtainBottom' src='/assets/Marco_Top.png' />
	<!-- END IMAGES -->

	<!-- START THE CONTENT DIV -->    
	<div id='content' class='content'>
		<!-- YOUR CONTENT HERE -->
		<div id="owl-carousel" class="owl-carousel">
			<div>
				<img src="/assets/Pictures-1.jpg" alt="Product 1" />
			</div>
			<div>
				<img src="/assets/Pictures-2.jpg" alt="Product 2" />
			</div>
			<div>
				<img src="/assets/Pictures-3.jpg" alt="Product 3" />
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<script type="text/javascript">
	$(document).ready(function () {
				//...animate the 2 curtain images to width of 50px with duration of 2 seconds...
				
				var top = $("#curtainTop" );
				var middle = $("#curtainMiddle" );
				var bottom = $("#curtainBottom" );
				var content = $("#content" );

				var logoTop = $("#logoTop");
				var logoBottom = $("#logoBottom");

				var carousel = $(".owl-carousel");

				carousel.style.display = 'none';

                //Hiding logos
				logoTop.animate({opacity: "0"},0);
				logoBottom.animate({opacity: "0"},0);

				//Animating curtain
				top.delay(2000).animate({ bottom: "-=40%"},2000 );
				middle.delay(2000).animate({ opacity: "0"},3000);
				bottom.delay(2000).animate({ top: "-=21%"},2000);

				//Hiding curtain
				top.animate({ opacity: "0"},0 );
				bottom.animate({ opacity: "0"},0 );

				
				//Showing content
				content.delay(3000).fadeIn(2000);

				//Showing logos
				
				logoTop.animate({opacity: "1"},0);
				logoBottom.animate({opacity: "1"},0);

				carrousel.style.display = 'block';
				
			});
</script>

<script type="text/javascript">
	$(document).ready(function () {
		var owl = $("#products-carousel");
		owl.owlCarousel({
			items: 3,
			center: true,
			autoplayTimeout: 1000,
			autoplayHoverPause: true,
			autoplay: true,
			autoplaySpeed: 4000,
			loop: true,
			mouseDrag: true,
			touchDrag: true,
			autoWidth: true,
			nav: true
		});
	});
</script>