<div class="centered">
<div class="title">Editing contact</div>
<%= render 'form' %>
<%= link_to 'Show', @contact, class: "subtitle" %> |
<%= link_to 'Back', contacts_path, class: "subtitle" %>
</div>
