
<div class="row-centered">
<div class="contact-text col-md-4 col-centered">
<h1>Editing About</h1>
<%= render 'form' %>
<%= link_to 'Show', @about %> |
<%= link_to 'Back', abouts_path %>
</div>
</div>

