
<div class="centered">
<div class="title">Editing About</div>
<%= render 'form' %>
<%= link_to 'Show', @about, class: "subtitle" %> |
<%= link_to 'Back', abouts_path, class: "subtitle" %>
</div>
</div>

