<div class="row row-products-centered">
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/1-Thum.jpg" alt="Product thumb."/>
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/2-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/3-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/6-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/4-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/8-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/7-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/5-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/2-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/9-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/10-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
<div class="col-centered col-fixed">
<a style="display:block" href="/products/1">
<div class="box">
<img src="/assets/11-Thum.jpg" alt="Product thumb." />
<div class="caption fade-caption">Vikta Table 103</div>
</div>
</a>
</div>
</div>